@model List<Blog>

    @foreach (var item in Model)
    {
         <div class="single-post mb-30">
                                    <div class="single-post-img">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id"><img src="~/img/blog/@item.ImageUrl" width="110" alt="post">
                                            <div class="blog-hover">
                                                <i class="fa fa-link"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="single-post-content">
                                        <h4><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                        <p>@item.PublishInfo</p>
                                    </div>
                                </div>
    }