@model List<Blog>

    @foreach (var item in Model)
   {
       <li class="d-flex" style="padding:0;margin:0;">
           <a asp-controller="blogs" asp-route-id="@item.Id">@item.Title</a>
       </li>
   }